<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/NewDestiny</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">barcopirata007</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- ENTIDADES DO PROEJTO -->
        <mapping class="Model.Entidades.UsuarioEntity"/>
        <mapping class="Model.Entidades.PagamentoEntity"/>
        <mapping class="Model.Entidades.PedidoEntity"/>
        <mapping class="Model.Entidades.PasseioEntity"/>
        <mapping class="Model.Entidades.PacoteTuristicoEntity"/>
        <mapping class="Model.Entidades.RoteiroPersonalizadoEntity"/>
        <mapping class="Model.Entidades.FotoEntity"/>
        <mapping class="Model.Entidades.AdministradorEntity"/>
        <mapping class="Model.Entidades.DiaEntity"/>
        <mapping class="Model.Entidades.CategoriaEntity"></mapping>
        <mapping class="Model.Entidades.CartaoEntity"></mapping>
        <mapping class="Model.Entidades.CarrinhoEntity"></mapping>
        <mapping class="Model.Entidades.ItemCarrinhoEntity"></mapping>



    </session-factory>
</hibernate-configuration>
